# Cache, session files and logs (Symfony3)
/var/cache/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Logs (Symfony4)
/var/log/*
!var/log/.gitkeep

# Managed by Composer
/bin/*
!bin/console
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/phpunit.xml

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid

# Added by me:
/docker/mysql
/.idea
.phpunit.result.cache